*{

margin: 0px;

}

body{
    background: lightgreen;
    font-family: Arial, Helvetica, sans-serif;

}



table{

width: 80%;

background-color: lightcoral;
text-align: center;
border-collapse:  collapse;
margin-left: auto;
margin-right: auto;

}

td, th{

    /* border:  solid black; */
    padding: 20px;

}

#principal input{

background-color: greenyellow;
width: 100px;
height: 50px;
margin: 0px;
padding: 0px;
text-align: center;
font-style:normal ;
font-weight: bold;
}

#datos{

/* border:solid 2px red ; */
width: 60%;
height: 100px;
margin-left: auto;
margin-right: auto;
/* margin-left: auto;
margin-right: auto; */
}

.login{

width: 40%;
padding: 5px;
margin: 10px;
margin-left: auto;
margin-right: auto;
background-color: aqua;


}

#enviar{

margin-right: 5px;

}