body{
    margin: 0;
    background-color: red;
}

.box{

    width: 400px;
    height: 400px;
    background:  linear-gradient( transparent , black);
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 6px solid #900 ;
}

h1{

    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;

}