body{
    background: #555;
}

.box{
    width: 300px;
    height: 400px;
    background: rgb(42, 167, 184);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 50px 10px #0f0;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
}

h1{
    text-shadow: 0 0 12px #f88 ;
    font-size: 20px;
}

p{
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    text-shadow: 0 0 5px #f888;
}

/* para elementos como imagenes sin fondo se usa la propiedad 

filter : drop-shadow(0 px 0px 5px #f92);
 */