body{
    
    color: #eee;
    font-family: sans-serif;
    background-color: slategrey;
}


.mainbox{
    position: absolute;
    left: 20%;
    right: 20%;
    background: #444;
    border-radius: 10px;
    padding: 5px;


}



th{
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    text-align: start;

}
